html {
  font-size: 100%;
}
canvas {
  display: block;
  background-color: #eee;
}

.container {
  display: grid;
  grid-template-columns: 1fr 150px;
  place-items: center;
  width: 500px;
  margin-inline: auto;
}

.canvas-wrapper {
  position: relative;
}
.paused-message {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 640px;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  color: white;
}

.start-button {
  background-color: rgb(255, 118, 214);
}

.pause-button {
  background-color: rgb(169, 231, 152);
}

.button {
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-bottom: 0.5rem;
  width: 150px;
}
