:root {
  --neon--color1: #bc13fe;
  --neon--color2: #17d230;
}

html {
  font-size: 100%;
}

body {
  background-color: black;
  color: white;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

canvas {
  display: block;
  background-color: #eee;
}

.container {
  display: grid;
  grid-template-columns: 1fr 90px;
  place-items: center;
  width: 375px;
  margin-inline: auto;
  padding: 1rem;
  @media (600px < width) {
    width: 500px;
  }
}

.canvas-wrapper {
  position: relative;
}
.paused-message {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 480px;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  color: white;
  @media (600px < width) {
    line-height: 640px;
  }
}

.score-display {
  margin-bottom: 1rem;
}

.start-button {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px var(--neon--color1), 0 0 82px var(--neon--color1),
    0 0 92px var(--neon--color1), 0 0 102px var(--neon--color1),
    0 0 151px var(--neon--color1);
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem var(--neon--color1),
    0 0 0.4rem var(--neon--color1), 0 0 1.4rem var(--neon--color1),
    inset 0 0 1.3rem var(--neon--color1);
}

.pause-button {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px var(--neon--color2), 0 0 82px var(--neon--color2),
    0 0 92px var(--neon--color2), 0 0 102px var(--neon--color2),
    0 0 151px var(--neon--color2);
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem var(--neon--color2),
    0 0 0.4rem var(--neon--color2), 0 0 1.4rem var(--neon--color2),
    inset 0 0 1.3rem var(--neon--color2);
}

.button {
  padding: 1rem 0;
  border: none;
  border: 2px solid #fff;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 90px;
  text-align: center;
}

.controls {
  display: grid;
  gap: 0.5rem;
  margin: 0.75rem 0.5rem 0;
  @media (600px < width) {
    display: none;
  }
}

.controls button {
  padding: 0.75rem;
  width: 60px;
  background-color: #ccc;
  color: white;
  font-size: 1.25rem;
}
